# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache/

# Virtual environments
venv/
.venv/

# Build / dist
build/
dist/
*.egg-info/

# OS/editor
.DS_Store
.vscode/
.idea/
*.swp

# Coverage
.coverage
htmlcov/

# Env files
.env
.env.*
